USE [DataBaseMagasin]
GO
/****** Object:  StoredProcedure [dbo].[CHEQUE_FOURNISSEUR_All]    Script Date: 22/09/2022 01:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Proc [dbo].[CHEQUE_FOURNISSEUR_All]
as
SELECT  
		MONTH(CHEQUEFOURNISSEUR.DATEPAYER) ,
		CHEQUEFOURNISSEUR.DATEPAYER,
		CHEQUEFOURNISSEUR.N_CHQ,
		FOURNISSEUR.ENTREPRISE, 
		CHEQUEFOURNISSEUR.DATEDONNER,
		CHEQUEFOURNISSEUR.MONTANT
		
		FROM CHEQUEFOURNISSEUR
INNER JOIN FOURNISSEUR ON CHEQUEFOURNISSEUR.IDFOUR = FOURNISSEUR.IDFOUR 
ORDER BY CHEQUEFOURNISSEUR.DATEPAYER ASC



;